<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="darksecret-box">
        <p>Description</p>
        <div class="free-text">{{editor content=data.description target="data.description" button=true owner=owner editable=editable}}</div>
    </div>
</form>